<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фреймворк Vue js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="component.js"></script>
    <style>
        .btn {
            background-color: aquamarine;
        }
    </style>
</head>

<body>
    <div id="app">
        <new-component title="Hello new title"></new-component>
        <!-- <new-component title="Hello second title"></new-component> -->
        <!-- <new-component :title="article" v-for="article in articles" :key="article.id"></new-component> -->
        <!-- <new-component title="Hello counter" :counter="counter"></new-component> -->
        <new-component title="Hello new title 2"> </new-component>
        <br>
        <!-- <button @click="currentTab = nameButton" v-for="nameButton in nameButtons" :key="nameButton.id"> {{nameButton}}
        </button> -->
        <button @click="currentTab = nameButton" v-for="nameButton in nameButtons" :key="nameButton.id"> {{nameButton}}
        </button>
        <!-- <component is="change-three"></component> -->
        <component :is="changeTabs"></component>





        <!-- <standart-component></standart-component> -->

        <!-- <h1>{{ message }}</h1>
        <button v-on:click="changeText" class="btn">Кнопка для смены текста</button>
        <br>
        <br>
        <div class="product">{{product.name}} {{product.price}} руб</div>
        <button @click="getDiscount">Нажми и получи скидку</button>
        <p>Стоимость со скидкой: {{priceWithDiscount}}</p> -->
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                // message: 'Hello Vue 3',
                // articles: ['info article1', 'info article2', 'info article3']
                // discount: 0,
                // counter: 0,
                nameButtons: ['one', 'two', 'three'],
                // currentTab: 'one',
                currentTab: '', //если нужно ничего не показывать
                currentTab: 'one', //а как сделать, чтобы все были активны?

            },
            // methods: {
            //     changeText() {
            //         this.message = 'Кнопку нажал, молодец!'
            //     },
            //     getDiscount() {
            //         this.discount = Math.floor(Math.random() * 20)
            //     },
            // },
            computed: {
                changeTabs() {
                    return `change-${this.currentTab}`;
                },
            },
        });
    </script>
</body>

</html>