<!-- Задание 4
Вы разрабатываете приложение для управления списком контактов.
У вас есть форма с полями "Имя", "Фамилия" и "Email", где пользователь может вводить информацию о новом контакте.
После добавления контакта он должен отображаться в списке контактов.
Требуется связать форму с данными и отображать список контактов на странице. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seminar2 Задание 1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        /* .btn {
            background-color: aquamarine;
        } */
    </style>
</head>

<body>
    <div id="app">
        <div class="form">
            <input type="text" v-model="contact.name">
            <input type="text" v-model="contact.lastName">
            <input type="text" v-model="contact.email">
            <button @click="addContact">Добавить контакт</button>
        </div>
        <!-- Список пользователей -->
        <div class="contacts">
            <div class="contact" v-for="item in contacts" :key="item.id" :id="item.id">
                ID: {{item.id}} {{item.name}} {{item.lastName}} {{item.email}}
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                contact: {
                    // id: "", не помогло добавить объект
                    name: "",
                    lastName: "",
                    email: "",
                },
                contacts: [
                    {
                        id: 1,
                        name: "Иван",
                        lastName: "Иванов",
                        email: "ivanov@mail.ru",
                    },
                    {
                        id: 2,
                        name: "Пётр",
                        lastName: "Петров",
                        email: "petrov@mail.ru",
                    },
                    {
                        id: 3,
                        name: "Сидр",
                        lastName: "Сидоров",
                        email: "sidr@mail.ru",
                    },
                ],
            },
            methods: {
                addContact() {
                    if (this.contact.name && this.contact.lastName && this.contact.email) {
                        // this.contacts.push({ //создаём новый объект, но это подходит только для плоских объектов. для вложенных объектов, сложных см.JSON.stringify ниже
                        //     id: this.contacts.length + 1, //иначе 3е значение будет дубликат ключа
                        //     ...this.contact, //спред sread - раскладывает массив на три поля
                        // });
                        // если не делать пустой массив, то данные не заполнятся, будет пустая строка вот пример
                        // this.contacts.push(this.contact); //это не правильно, объект не скопировался
                        //это всё из темы примитивы, ссылочные типы данных
                        //ошибка, потому что мы создаём не копию новых данных, а создаём копию ссылки всего лишь на тот объект, на который форма завязана
                        //и каждое последующее добавление мы добавляем тот же самый объект, ссылку на на ту же самую область в памяти, c которой работает форма
                        //а когда мы применили спред (...) (обджек ассайн, обжект криейт) мы создали новый объект и записали в новый участок памяти и ссылку на этот участок памяти мы в массив записали.
                        //когда хотим что-то куда-то скопировать, в плане объектов нужно обязательно делать копию объекта, для этого есть лодэшевские библиотеки, либо стандартные джейсон стрингифай, либо джейсон парс, это для сложных объектов, когда внутри есть подобъекты, 
                        // плоский объект легко скопировать, а когда в нём плоские объекты, а когда в объектаъ есть вложенные объекты, во вложенных объектах есть ещё вложенные объекты, то спредом мы не скопируем объект, скопируем только верхний слой, а в нижнем слое скопируются просто ссылки, там уже нужно глубокое копирование(дип клон). 
                        // самый простой способ копирования объекта джейсон стрингифай, либо джейсон парс, текущий объект преобразуется в строку, а потом из новой строки делаем новый объект
                        // вот пример
                        // this.contacts.push(JSON.parse(JSON.stringify(this.contact))); //Здесь id не устанавливает, подходит для сложных вещей
                        // JSON.parse - преобразуется в строку
                        // JSON.stringify - преобразуется в массив или делает копию?
                        // Метод JSON.stringify() возвращает JavaScript-значение, преобразованное в JSON-строку. Возможна замена значений, если как replacer передана функция, или включение только определённых свойств, если как replacer указан массив.
                        //либо можно сделать рекурсивное клонирование
                        //Для глубокого клонирования объектов можно также использовать глобальный метод structuredClone(),  но он не всеми браузерами поддерживается 
                        this.contacts.push(structuredClone(this.contact))
                        //лобо библиотека лодэщ, метод дипклон
                        // this.contact.id = ""; не помогло добавить id
                        this.contact.name = "";
                        this.contact.lastName = "";
                        this.contact.email = "";
                    }
                }
            },
            computed: {
                // priceWithDiscount() {
                //     return (
                //         this.product.price - (this.product.price * this.discount) / 100
                //     );
                // },
            },
        });
    </script>
</body>

</html>