:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1920px;
  height: 4411px;
  margin: 0 auto;
}

.background {
  position: absolute;
  width: 1920px;
  height: 4403.557px;
  top: -9px;
  left: 0;
  background: #ffffff;
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 399px;
  position: relative;
  width: 1199.999px;
  margin: 53px 0 0 360px;
  z-index: 107;
}

.logo {
  flex-shrink: 0;
  position: relative;
  width: 177px;
  height: 50px;
  z-index: 108;
}

.interno {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 50px;
  top: 0;
  left: 44px;
  color: #292f36;
  font-family: DM Serif Display, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  white-space: nowrap;
  z-index: 109;
}

.logo-1 {
  position: absolute;
  width: 33.998px;
  height: 34px;
  top: 8px;
  left: 0;
  z-index: 110;
}

.logo-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./img/a7611004-86d4-4cce-9cca-989dbd98c14d.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 111;
}

.menubar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 31px;
  position: relative;
  width: 623.999px;
  z-index: 112;
}

.menu {
  flex-shrink: 0;
  position: relative;
  width: 243px;
  height: 25px;
  z-index: 113;
}

.home-project-blog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 243px;
  height: 25px;
  top: 0;
  left: 0;
  color: #292f36;
  font-family: Jost, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  white-space: nowrap;
  z-index: 114;
}

.images {
  position: relative;
  width: 1201px;
  height: 758px;
  margin: 57px 0 0 360px;
  background: url(./img/a2df9749-4a51-46b2-a088-9d17046780fe.png) no-repeat center;
  background-size: cover;
  z-index: 98;
  overflow: visible auto;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 21px;
  position: relative;
  width: 434px;
  margin: 208px 0 0 52px;
  z-index: 99;
}

.sub-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 18px;
  position: relative;
  width: 434px;
  z-index: 100;
}

.let-your-home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 434px;
  height: 162px;
  color: #292f36;
  font-family: DM Serif Display, var(--default-font-family);
  font-size: 65px;
  font-weight: 400;
  line-height: 81.25px;
  text-align: left;
  z-index: 101;
}

.passages-lorem-ipsum {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 433px;
  height: 66px;
  color: #4d4f52;
  font-family: Jost, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: 0.22px;
  z-index: 102;
  overflow: hidden;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 220.141px;
  padding: 26px 49px 26px 48px;
  background: #292f36;
  z-index: 103;
  border-radius: 18px;
  box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
}

.get-started {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 123.141px;
  z-index: 104;
}

.get-started-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 98px;
  height: 23px;
  color: #ffffff;
  font-family: Jost, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.36px;
  z-index: 105;
}

.vector {
  flex-shrink: 0;
  position: relative;
  width: 17.151px;
  height: 16.006px;
  background: url(./img/88c44cdc-6253-4a51-95db-44f887eb0026.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 106;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 93px;
  position: relative;
  width: 1201px;
  margin: 96px 0 0 360px;
  z-index: 86;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 737px;
  z-index: 87;
}

.follow-our-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 451px;
  height: 63px;
  color: #292f36;
  font-family: DM Serif Display, var(--default-font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 62.5px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  z-index: 88;
}

.established-fact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 737px;
  height: 66px;
  color: #4d4f52;
  font-family: Jost, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  z-index: 89;
}

.project-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 56px;
  position: relative;
  width: 1201px;
  z-index: 90;
}

.empty {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 104px;
  position: relative;
  width: 1201px;
  z-index: 91;
}

.empty-5 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 548px;
  height: 619px;
  background: url(./img/bc6202a1-5295-4bfd-8815-904f299b8fd2.png) no-repeat center;
  background-size: cover;
  z-index: 92;
}

.empty-6 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 549px;
  height: 619px;
  background: url(./img/79891a81-ea82-4e6f-99af-973a8952ce28.png) no-repeat center;
  background-size: cover;
  z-index: 93;
}

.empty-7 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 99px;
  position: relative;
  width: 1201px;
  z-index: 94;
}

.empty-8 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 43px;
  position: relative;
  width: 552px;
  height: 636px;
  background: url(./img/337c3c36-211b-486d-bc1a-ad2a7f3c680a.png) no-repeat center;
  background-size: cover;
  z-index: 95;
}

.empty-9 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 40px;
  position: relative;
  width: 550px;
  height: 635px;
  background: url(./img/20be9a46-a531-439a-8a1d-9ada42c7ebe1.png) no-repeat center;
  background-size: cover;
  z-index: 96;
}

.background-a {
  position: relative;
  width: 1920px;
  height: 457px;
  margin: 96px 0 0 0;
  background: url(./img/3bc99696-0271-431b-96cd-eab36d2e4313.png) no-repeat center;
  background-size: cover;
  z-index: 65;
  overflow: visible auto;
}

.counter {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 76px;
  position: relative;
  width: 1082px;
  margin: 151px 0 0 419px;
  z-index: 66;
}

.empty-b {
  flex-shrink: 0;
  position: relative;
  width: 246px;
  height: 155px;
  z-index: 67;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  position: absolute;
  width: 192px;
  height: 155px;
  top: 0;
  left: 0;
  z-index: 69;
}

.years-of-experience {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 77px;
  height: 106px;
  color: #cda274;
  font-family: DM Serif Display, var(--default-font-family);
  font-size: 85px;
  font-weight: 400;
  line-height: 106px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1.7px;
  z-index: 70;
}

.years-of-experience-c {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 33px;
  color: #4d5053;
  font-family: Jost, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.22px;
  z-index: 71;
}

.line {
  position: absolute;
  width: 1px;
  height: 130px;
  top: 18px;
  left: 246px;
  background: url(./img/9dfb15fb-5f14-4f89-aeb3-5b810a0c66fb.png) no-repeat center;
  background-size: cover;
  z-index: 68;
}

.empty-d {
  flex-shrink: 0;
  position: relative;
  width: 223px;
  height: 155px;
  z-index: 72;
}

.text-e {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  position: absolute;
  width: 147px;
  height: 155px;
  top: 0;
  left: 0;
  z-index: 74;
}

.success-project {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 90px;
  height: 106px;
  color: #cda274;
  font-family: DM Serif Display, var(--default-font-family);
  font-size: 85px;
  font-weight: 400;
  line-height: 106px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1.7px;
  z-index: 75;
}

.success-project-f {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 33px;
  color: #4d5053;
  font-family: Jost, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.22px;
  z-index: 76;
}

.line-10 {
  position: absolute;
  width: 1px;
  height: 130px;
  top: 12px;
  left: 223px;
  background: url(./img/8b6640fc-8ba4-450f-8fca-47cb327c9e87.png) no-repeat center;
  background-size: cover;
  z-index: 73;
}

.empty-11 {
  flex-shrink: 0;
  position: relative;
  width: 214px;
  height: 155px;
  z-index: 77;
}

.text-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  position: absolute;
  width: 130px;
  height: 155px;
  top: 0;
  left: 0;
  z-index: 79;
}

.active-project {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 78px;
  height: 106px;
  color: #cda274;
  font-family: DM Serif Display, var(--default-font-family);
  font-size: 85px;
  font-weight: 400;
  line-height: 106px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1.7px;
  z-index: 80;
}

.active-project-13 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 33px;
  color: #4d5053;
  font-family: Jost, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.22px;
  z-index: 81;
}

.line-14 {
  position: absolute;
  width: 1px;
  height: 130px;
  top: 11px;
  left: 214px;
  background: url(./img/e77c7bc5-6cec-4f5e-9e32-a650c5a76424.png) no-repeat center;
  background-size: cover;
  z-index: 78;
}

.empty-15 {
  flex-shrink: 0;
  position: relative;
  width: 171px;
  height: 155px;
  z-index: 82;
}

.text-16 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  position: absolute;
  width: 171px;
  height: 155px;
  top: 0;
  left: 0;
  z-index: 83;
}

.number {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 94px;
  height: 106px;
  color: #cda274;
  font-family: DM Serif Display, var(--default-font-family);
  font-size: 85px;
  font-weight: 400;
  line-height: 106px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1.7px;
  z-index: 84;
}

.happy-customers {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 33px;
  color: #4d5053;
  font-family: Jost, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.22px;
  z-index: 85;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 52px;
  position: relative;
  width: 1200px;
  margin: 96px 0 0 360px;
  z-index: 23;
}

.heading-17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 811px;
  z-index: 24;
}

.articles-news {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 362px;
  height: 63px;
  color: #292f36;
  font-family: DM Serif Display, var(--default-font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 62.5px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  z-index: 25;
}

.long-established-fact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 811px;
  height: 66px;
  color: #4d4f52;
  font-family: Jost, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  z-index: 26;
}

.blog-18 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 27px;
  position: relative;
  width: 1200px;
  z-index: 27;
}

.empty-19 {
  flex-shrink: 0;
  position: relative;
  width: 382px;
  height: 521px;
  z-index: 28;
}

.tag {
  position: relative;
  width: 129px;
  height: 41px;
  margin: 249px 0 0 41px;
  z-index: 37;
}

.rectangle {
  position: absolute;
  width: 124px;
  height: 41px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 38;
  border-radius: 8px 8px 8px 0;
}

.kitchen-design {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 4px;
  left: 11px;
  color: #4d4f52;
  font-family: Jost, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  letter-spacing: 0.16px;
  z-index: 39;
}

.sub-content-1a {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 382px;
  height: 521px;
  top: 0;
  left: 0;
  padding: 21px 21px 21px 21px;
  border: 1px solid #e7e7e7;
  z-index: 29;
  border-radius: 62px;
  box-shadow: 0 10px 30px 0 rgba(255, 255, 255, 0.25);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 21px;
  position: relative;
  width: 340px;
  height: 479px;
  z-index: 30;
}

.image {
  flex-shrink: 0;
  position: relative;
  width: 340px;
  height: 289.267px;
  background: url(./img/abf9e3b4-615c-4c13-bb32-559731956d8d.png) no-repeat center;
  background-size: cover;
  z-index: 31;
}

.sub-content-1b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 30px;
  position: relative;
  width: 340px;
  z-index: 32;
}

.building-construction-work {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 305px;
  height: 70px;
  color: #292f36;
  font-family: DM Serif Display, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
  text-align: left;
  letter-spacing: 0.5px;
  z-index: 33;
}

.date {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 65px;
  position: relative;
  width: 340px;
  z-index: 34;
}

.date-1c {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 223px;
  height: 33px;
  color: #4d4f52;
  font-family: Jost, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  letter-spacing: 0.16px;
  z-index: 35;
}

.greater-than {
  flex-shrink: 0;
  position: relative;
  width: 52px;
  height: 52px;
  background: url(./img/582d8b5c-f7d6-4c5a-bbb1-0df9d813018c.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 36;
}

.empty-1d {
  flex-shrink: 0;
  position: relative;
  width: 382px;
  height: 521px;
  z-index: 40;
}

.button-1e {
  position: relative;
  width: 129px;
  height: 41px;
  margin: 249px 0 0 41px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 49;
}

.rectangle-1f {
  position: absolute;
  width: 124px;
  height: 41px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 50;
  border-radius: 8px 8px 8px 0;
}

.span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 4px;
  left: 11px;
  color: #4d4f52;
  font-family: Jost, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  letter-spacing: 0.16px;
  z-index: 51;
}

.sub-content-20 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 382px;
  height: 521px;
  top: 0;
  left: 0;
  padding: 21px 21px 21px 21px;
  background: #f4f0ec;
  border: 1px solid #e7e7e7;
  z-index: 41;
  border-radius: 62px;
  box-shadow: 0 10px 30px 0 rgba(255, 255, 255, 0.25);
}

.content-21 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 21px;
  position: relative;
  width: 340px;
  height: 479px;
  z-index: 42;
}

.image-22 {
  flex-shrink: 0;
  position: relative;
  width: 340px;
  height: 289.267px;
  background: url(./img/8dbee332-7431-4bbb-90d6-79dab09b6f25.png) no-repeat center;
  background-size: cover;
  z-index: 43;
}

.sub-content-23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 30px;
  position: relative;
  width: 340px;
  z-index: 44;
}

.low-cost-latest {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 305px;
  height: 70px;
  color: #292f36;
  font-family: DM Serif Display, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: 0.5px;
  z-index: 45;
  overflow: hidden;
}

.div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 65px;
  position: relative;
  width: 340px;
  z-index: 46;
}

.span-24 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 223px;
  height: 33px;
  color: #4d4f52;
  font-family: Jost, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  letter-spacing: 0.16px;
  z-index: 47;
}

.div-25 {
  flex-shrink: 0;
  position: relative;
  width: 52px;
  height: 52px;
  background: url(./img/a466a0c0-5180-444d-8015-7d73bcf5ad36.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 48;
}

.div-26 {
  flex-shrink: 0;
  position: relative;
  width: 382px;
  height: 521px;
  z-index: 52;
}

.button-27 {
  position: relative;
  width: 129px;
  height: 41px;
  margin: 249px 0 0 41px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 61;
}

.rectangle-28 {
  position: absolute;
  width: 124px;
  height: 41px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 62;
  border-radius: 8px 8px 8px 0;
}

.interior-design {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 4px;
  left: 11px;
  color: #4d4f52;
  font-family: Jost, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  letter-spacing: 0.16px;
  z-index: 63;
}

.sub-content-29 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 382px;
  height: 521px;
  top: 0;
  left: 0;
  padding: 21px 21px 21px 21px;
  border: 1px solid #e7e7e7;
  z-index: 53;
  border-radius: 62px;
  box-shadow: 0 10px 30px 0 rgba(255, 255, 255, 0.25);
}

.content-2a {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 21px;
  position: relative;
  width: 340px;
  height: 479px;
  z-index: 54;
}

.image-2b {
  flex-shrink: 0;
  position: relative;
  width: 340px;
  height: 289.267px;
  background: url(./img/bc83107a-8f33-4092-a5ce-8ad764ad640b.png) no-repeat center;
  background-size: cover;
  z-index: 55;
}

.sub-content-2c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 30px;
  position: relative;
  width: 340px;
  z-index: 56;
}

.best-for-any {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 305px;
  height: 70px;
  color: #292f36;
  font-family: DM Serif Display, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: 0.5px;
  z-index: 57;
  overflow: hidden;
}

.div-2d {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 65px;
  position: relative;
  width: 340px;
  z-index: 58;
}

.span-2e {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 223px;
  height: 33px;
  color: #4d4f52;
  font-family: Jost, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  letter-spacing: 0.16px;
  z-index: 59;
}

.div-2f {
  flex-shrink: 0;
  position: relative;
  width: 52px;
  height: 52px;
  background: url(./img/8c87129e-4d20-46ff-bdf1-14b0dff1fc5e.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 60;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 134px;
  position: absolute;
  width: 1920px;
  height: 406px;
  top: 4005px;
  left: 0;
  z-index: 2;
}

.interno-30 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 101px;
  position: relative;
  width: 1199px;
  z-index: 3;
}

.interno-31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 31px;
  position: relative;
  width: 393px;
  z-index: 4;
}

.sub-content-32 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 18px;
  position: relative;
  width: 393px;
  z-index: 5;
}

.logo-33 {
  flex-shrink: 0;
  position: relative;
  width: 177px;
  height: 50px;
  z-index: 6;
}

.interno-34 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 50px;
  top: 0;
  left: 44px;
  color: #292f36;
  font-family: DM Serif Display, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}

.logo-35 {
  position: absolute;
  width: 33.998px;
  height: 34px;
  top: 8px;
  left: 0;
  z-index: 8;
}

.logo-36 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./img/de1cec4f-112f-4f99-a658-21acafc3dc33.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 9;
}

.established-fact-37 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 393px;
  height: 66px;
  color: #4d4f52;
  font-family: Jost, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  letter-spacing: 0.22px;
  z-index: 10;
}

.icons {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 54px;
  position: relative;
  width: 225px;
  z-index: 11;
}

.div-icon {
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 22px;
  font-family: Font Awesome 5 Brands, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.99px;
  background: url(./img/363cc981-1d02-41ed-91a2-99b47179973b.png) no-repeat center;
  background-size: cover;
  z-index: 12;
}

.div-icon-38 {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 22px;
  font-family: Font Awesome 5 Brands, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.99px;
  background: url(./img/7c6c50c0-e981-4cc3-8251-2c9b8d65de26.png) no-repeat center;
  background-size: cover;
  z-index: 13;
}

.pages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 9px;
  position: relative;
  width: 125px;
  z-index: 14;
}

.pages-39 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 31px;
  color: #292f36;
  font-family: DM Serif Display, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}

.home-project-blog-3a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 72px;
  height: 198px;
  color: #4d4f52;
  font-family: Jost, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 66px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: 0.22px;
  z-index: 16;
  overflow: hidden;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 9px;
  position: relative;
  width: 120px;
  height: 66px;
  padding: 0 0 0 0;
  z-index: 17;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 26px;
  position: relative;
  width: 258px;
  z-index: 18;
}

.contact-3b {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 87px;
  height: 31px;
  color: #292f36;
  font-family: DM Serif Display, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}

.contact-info {
  flex-shrink: 0;
  position: relative;
  width: 258px;
  font-family: Jost, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 66px;
  text-align: left;
  letter-spacing: 0.22px;
  z-index: 20;
}

.address {
  position: relative;
  color: #4d4f52;
  font-family: Jost, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 66px;
  text-align: left;
  letter-spacing: 0.22px;
}

.contact-info-3c {
  position: relative;
  color: #4d4f52;
  font-family: Jost, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 66px;
  text-align: left;
  letter-spacing: 0.22px;
}

.copyright {
  flex-shrink: 0;
  position: relative;
  width: 1920px;
  height: 0px;
  z-index: 21;
}

.line-3d {
  position: absolute;
  width: 1920px;
  height: 1px;
  top: -1px;
  left: 0;
  background: url(./img/b43a2d44-4878-4304-af38-2ba363445ff3.png)
    /* background: url(./img/b43a2d44-4878-4304-af38-2ba363445ff3.png)  */
    no-repeat center;
  background-size: cover;
  z-index: 22;
}